

/* Please ❤ this if you like it! */


@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');

/* #Primary
================================================== */

body{
    font-family: 'Poppins', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #d1c0e9;
	/* background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg'); */
	background-position: center;
	background-repeat: repeat;
	background-size: 7%;
	background-color: #fff;
	overflow-x: hidden;
    transition: all 200ms linear;
    font-family: Raleway;
}
::selection {
	color: #fff;
	background-color: #8167a9;
}
::-moz-selection {
	color: #fff;
	background-color: #8167a9;
}


/* #Navigation
================================================== */

.start-header {
	opacity: 1;
	transform: translateY(0);
	padding: 20px 0;
	box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on {
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
	padding: 10px 0;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on .navbar-brand img{
	height: 24px;
	-webkit-transition : all 0.3s ease-out;
   
	transition : all 0.3s ease-out;
}
.navigation-wrap{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar{
	padding: 0;
    color: brown !important;
    
    
}
.navbar-nav a{
    color: brown !important;
}

.navbar-brand img{
	height: 128px;
	width: auto;
	display: block;
    filter: brightness(10%);
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
    
}
.navbar-toggler {
	float: right;
	border: none;
	padding-right: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
	outline: none;
}
.navbar-light .navbar-toggler-icon {
	width: 24px;
	height: 17px;
	background-image: none;
	position: relative;
	border-bottom: 1px solid #000;
    transition: all 300ms linear;
	
}
.navbar-light .navbar-toggler-icon:after, 
.navbar-light .navbar-toggler-icon:before{
	width: 24px;
	position: absolute;
	height: 1px;
	background-color: #000;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after{
	top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}
.nav-link{
	color: #212121 !important;
	font-weight: 500;
    transition: all 200ms linear;
}
.nav-item:hover .nav-link{
	color: #41108a !important;
    font-size: 30px;
}
.nav-item.active .nav-link{
	color: #41108a !important;
    font-size: 30px;
}
.nav-link {
	position: relative;
	padding: 5px 0 !important;
	display: inline-block;
}
.nav-item:after{
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	background-color: #d2b48c;
	opacity: 0;
    transition: all 200ms linear;
}
.nav-item:hover:after{
	bottom: 0;
	opacity: 1;
}
.nav-item.active:hover:after{
	opacity: 0;
}
.nav-item{
	position: relative;
    transition: all 200ms linear;
}

/* #Primary style
================================================== */

.bg-light {
	background-color: #fff !important;
    transition: all 200ms linear;
}
.section:nth-child(2n+1)  {
    background-color: #d2b48c ;
	color: #2B0F0E !important;
}
.section:nth-child(2n){
    background-color: #2B0F0E;
	color: #d2b48c !important;
    /* background-color: white; */
}
.section:nth-child(2n) span{
	color: #d2b48c ;
	
}
.section:nth-child(2n+1) span  {
	color: #2B0F0E ;
}
.section {
    position: relative;
	width: 100%;
	display: block;
    min-height: 40rem;
    box-sizing: border-box ;
    padding-top:80px;
}
#skills{
    min-height: 30rem;
}
#info{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

#info h1 span{
    font-family: cursive;
    font-size: 4.5rem;
    
}
/* #info span{
    color: #fffdd0;
} */

.over-hide {
    overflow: hidden;
}
.absolute-center {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
  margin-top: 40px;
	transform: translateY(-50%);
	z-index: 20;
}
h1{
	font-size: 48px;
	line-height: 1.2;
	font-weight: 700;
	color: #212112;
	text-align: center;
}
p{
	text-align: center;
	margin: 0;
	padding-top: 10px;
	opacity: 1;
	transform: translate(0);
    transition: all 300ms linear;
    transition-delay: 1700ms;
}
body.main{
    background-color: #100e17 !important;
}
body.main p{
	opacity: 0;
	transform: translateY(40px);
    transition-delay: 1700ms;
}
h1 span{
	display: inline-block;
   transition: all 300ms linear;
	opacity: 1;
	transform: translate(0);
}

.nav-item .dropdown-menu {
    transform: translate3d(0, 10px, 0);
    visibility: hidden;
    opacity: 0;
	max-height: 0;
    display: block;
	padding: 0;
	margin: 0;
    transition: all 200ms linear;
}
.nav-item.show .dropdown-menu {
    opacity: 1;
    visibility: visible;
	max-height: 999px;
    transform: translate3d(0, 0px, 0);
}
.dropdown-menu {
	padding: 10px!important;
	margin: 0;
	font-size: 13px;
	letter-spacing: 1px;
	color: #212121;
	background-color: #fcfaff;
	border: none;
	border-radius: 3px;
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    transition: all 200ms linear;
}
.dropdown-toggle::after {
	display: none;
}

.dropdown-item {
	padding: 3px 15px;
	color: #212121;
	border-radius: 2px;
    transition: all 200ms linear;
}
.dropdown-item:hover, 
.dropdown-item:focus {
	color: #fff;
	background-color: rgba(129,103,169,.6);
}

body.dark{
	color: #fff;
	background-color: #100e17;
}
body.dark .navbar-brand img{
  filter: brightness(100%);
}
body.dark h1{
	color: #fff;
    float: left;
}
body.dark h1 span{
    transition-delay: 0ms !important;
}
body.dark p{
	color: #fff;
    transition-delay: 0ms !important;
}
body.dark .bg-light {
	background-color: #fffdd0 !important;
}
/* body.dark .start-header {
	box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
}
body.dark .start-header.scroll-on {
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
} */
body.dark .nav-link{
	color: #2B0F0E  !important;
    font-size: 25px;
}
body.dark .nav-item.active .nav-link{
	color: #999 !important;
}
body.dark .dropdown-menu {
	color: #fff;
	background-color: #1f2029;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
}
body.dark .dropdown-item {
	color: #fff;
}
body.dark .navbar-light .navbar-toggler-icon {
	border-bottom: 1px solid #fff;
}
body.dark .navbar-light .navbar-toggler-icon:after, 
body.dark .navbar-light .navbar-toggler-icon:before{
	background-color: #fff;
}
body.dark .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}



/* #Media
================================================== */

@media (max-width: 767px) { 
	h1{
		font-size: 38px;
	}
	.nav-item:after{
		display: none;
	}
	.nav-item::before {
		position: absolute;
		display: block;
		top: 15px;
		left: 0;
		width: 11px;
		height: 1px;
		content: "";
		border: none;
		background-color: #000;
		vertical-align: 0;
	}
	.dropdown-toggle::after {
		position: absolute;
		display: block;
		top: 10px;
		left: -23px;
		width: 1px;
		height: 11px;
		content: "";
		border: none;
		background-color: #000;
		vertical-align: 0;
		transition: all 200ms linear;
	}
	.dropdown-toggle[aria-expanded="true"]::after{
		transform: rotate(90deg);
		opacity: 1;
	}
	.dropdown-menu {
		padding: 0 !important;
		background-color: transparent;
		box-shadow: none;
		transition: all 200ms linear;
	}
	.dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
		margin-top: 10px !important;
		margin-bottom: 20px !important;
	}
	body.dark .nav-item::before {
		background-color: #fff;
	}
	body.dark .dropdown-toggle::after {
		background-color: #000;
	}
	body.dark .dropdown-menu {
		background-color: transparent;
		box-shadow: none;
	}
    .card{
        width:70%;
        height: auto !important;
    }
    .name span{
        font-size: 50px!important;
    }
    ul.mo{
        column-gap: 0.5rem !important;
    }
    ul.mo li{
        white-space: nowrap;

    }
	.profile-pic{
		max-width: 100%;
	}
	.identity-info{
		padding-top :0rem !important;
	}
	.desc{
		padding: 2rem;
	}
	#contact .col-lg-6{
		padding: 2rem;
	}
	#about h1{
		padding-left: 2rem;
	}
}

/* #Link to page
================================================== */

.logo {
	position: absolute;
	bottom: 30px;
	right: 30px;
	display: block;
	z-index: 100;
	transition: all 250ms linear;
}
.logo img {
	height: 26px;
	width: auto;
	display: block;
  filter: brightness(10%);
	transition: all 250ms linear;
}
body.dark .logo img {
  filter: brightness(100%);
}
ul.hor{
    display: inline-flex;
    list-style-type: none;
    column-gap: 2rem;
}

ul.ver{
    list-style-type: none;
    row-gap: 2rem;
}
.image-fluid{
    text-align: center;
    max-width: 80%;
    border-radius: 50%;

}
.identity-info{
	padding-top: 10rem;
}
.middle{
    text-align: center;
}
.name span{
    font-size:70px;
}
.card{
    background-color: #202026;
    /* border: 1px solid black; */
    text-align: center;
    padding: 0px 0px 5px 0px;
    display: inline-flex;
    border-radius: 5px;
    margin: 1rem;
    font-size: small;
    height: 19rem;
    box-shadow: -1rem 0 3rem black;
}

.shead{
    text-align: center;
    margin-bottom: 0.7rem;
    position: relative;
    display: block;
    font-size: 40px;

}
.card .head{
    background-color:transparent;
    margin-top:5%;
    color: #a76acc;
    box-sizing: border-box;
    
}

.skills span{
    border: 1.5px solid #0bceaf;
    padding: 5px;
    display: inline-flex;
    font-size: 13px;
    column-gap: 2rem;
    margin: 2px;
    border-radius: 5px;
}
.skills p{
    text-align: initial;
}
#about .image-fluid{
    max-width: 80%;
    height: auto;
    display: inline-flex;
}
.cont{
    padding: 5px;
    text-align: initial;
}
.cont p{
    text-align: initial;
}
.cont ul{
    list-style: none;
    font-size: 12px;

}
#about .image-fluid{
    border-radius: 0px;

}

a.button{
    padding: 9px;
    border: 1px solid #0bceaf;
    background: black;
    border-radius: 20px;
}

a.button:hover{
    color:white;
    border: 1px solid #0bceaf;
    background: black;

}
.reveal{
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: 1s all ease;
  }
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }
.form-control{
	padding: 1rem;
	margin : 1rem;
	border: 3px solid #2B0F0E;
	background: rgba(255, 255, 255, 0.15);
	 /* Style the placeholder */
	 &::-webkit-input-placeholder { /* For Chrome, Safari, etc. */
		font-weight: bold; /* Make the placeholder bold */
		color: rgba(0, 0, 0, 0.8); /* Set placeholder color with some transparency */
	  }
	  
	  &:-moz-placeholder { /* For Mozilla Firefox */
		font-weight: bold;
		color: rgba(0, 0, 0, 0.8);
	  }
	  
	  &:-ms-input-placeholder { /* For Internet Explorer */
		font-weight: bold;
		color: rgba(0, 0, 0, 0.8);
	  }

}
#contact button{
	left:45%;
	position: relative;
}
.section .desc{
	font-size: 1.4rem;
	font-family: 'Times New Roman', Times, serif;
}
.section h1{
	font-family: cursive;
}
